#content {
  margin: 0 auto;
  width: fit-content;
}

body {
  font-family: "H", "Trebuchet MS";
  font-weight: bold;
  margin: 0;
  text-align: center;
  background-color: #21D4FD;
  background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
  background-size: cover;
  min-height: 100vh;
}

section {
  padding: 50px 0;
}

button {
  display: block;
  margin: 20px auto;
  padding: 20px 50px;
  text-align: center;
  transition: 0.5s background;
  color: white;
  background-image: linear-gradient(to right, #FF4E50 0%, #F9D423 51%, #FF4E50 100%);
  background-size: 200% auto;
  box-shadow: 0 5px 20px -10px black;
  border-radius: 40px;
  border:none;
  outline: none;
  font-size: 30px;
  text-transform: uppercase;
  font-family: "Helvetica";
  font-weight: bold;
}
button:hover {
  background-position: right center;
}
.toggle-btn {
  display: none;
}
.toggle-btn.active {
  display: block;
}

#waiting__info p{
  padding: 20px;
}
#player-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}
#player-list h1{
  width: 100%;
  margin:0;
  padding-top: 20px;
  padding-bottom: 10px;
  font-size: 40px;
}
#player-list p{
  margin: 0 15px 10px;
  padding: 5px 10px;
  font-size: 30px;
  width: auto;
  background: #00B4DB;  /* fallback for old browsers */
  background: -webkit-linear-gradient(345deg, #0083B0, #00B4DB);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(345deg, #0083B0, #00B4DB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-radius: 10px;
  color: white;
  box-shadow: 0 3px 10px -5px black;
}
#player-list p.gray{
  background: #232526;  /* fallback for old browsers */
  background: -webkit-linear-gradient(165deg, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(165deg, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
#player-list p.red{
  background: #f85032;  /* fallback for old browsers */
  background: -webkit-linear-gradient(345deg, #e73827, #f85032);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(345deg, #e73827, #f85032); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
#player-list p.green{
  background: #56ab2f;  /* fallback for old browsers */
  background: -webkit-linear-gradient(165deg, #a8e063, #56ab2f);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(165deg, #a8e063, #56ab2f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
#player-list p.host{
  box-shadow: 0 0 20px 5px gold;
}

.container {
  width: 530px;
  height: auto;
  background-color: white;
  box-shadow: 0 5px 30px -20px black;
  border-radius: 30px;
  margin-bottom: 20px;
  font-size: 30px;
  text-align: center;
  font-family: "Helvetica";
  font-weight: bold;
}
.review-container h1 {
  margin: 0;
  padding: 20px 0 0;
  font-size: 40px;
}
.review-container p {
  margin: 0;
  padding: 10px 0;
}

.canvas-container {
  height: 530px;
  margin-bottom: 20px;
}
.drawing-img {
  position: relative;
  top: 10px;
  width: 500px;
  height: 500px;
  background: white;
  border: solid RGB(240,240,240) 5px;
  border-radius: 25px;
}

canvas {
  position: relative;
  top: 10px;
  width: 500px;
  height: 500px;
  background: white;
  border: solid RGB(240,240,240) 5px;
  border-radius: 25px;
}

.slidecontainer {
  width: 520px;
  height: 25px;
  padding: 5px;
  border-radius: 35px;
  box-shadow: 0 5px 15px -10px black;
  text-align: center;
  background-color: white;
  margin-bottom: 5px;
}
.slider {
  position: relative;
  -webkit-appearance:none;
  width: 100%;
  height: 25px;
  margin: auto;
  background: white;
  outline: none;
  border-radius: 25px;
}

#color-slider {
  background: white url("/client/images/hue-gradient.jpg");
  background-size: cover;
}

#size-slider {
  background: black;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance:none;
  width: 25px;
  height: 25px;
  background: RGB(255,255,255,0);
  border: solid white 3px;
  border-radius: 15px;
  cursor: pointer;
}

.prompt-input {
  padding: 10px;
  width: 510px;
  height: auto;
  font-size: 30px;
  text-align: center;
  font-family: "Helvetica";
  font-weight: bold;
}
.prompt-input p {
  margin: 0;
  width:auto;
  padding-bottom: 10px
}
.prompt-input textarea {
  width: 420px;
  border: none;
  font-size: 30px;
  text-align: center;
  font-family: "Helvetica";
  font-weight: bold;
}
.prompt-input input {
  width: 420px;
  background: RGB(230,230,230);
  border: none;
  font-size: 30px;
  text-align: center;
  font-family: "Helvetica";
  font-weight: bold;
}
.error-text {
  display: none;
  padding: 5px;
  color: red;
  font-size: 15px;
}
.error-text.active {
  display: block;
}

.scrim {
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: RGB(0,0,0, 0.7);
  z-index: 5;
}
.scrim.active {
  display: block;
}

.popup {
  z-index: 10;
  display: none;
  position: fixed;
  top: 50px;
  left: 50%;
  width: 450px;
  height: auto;
  background: #ED213A;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #93291E, #ED213A);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #93291E, #ED213A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  box-shadow: 0 5px 30px -20px black;
  border-radius: 50px;
  margin-bottom: 20px;
  font-size: 30px;
  text-align: center;
  font-family: "Helvetica";
  font-weight: bold;
  transform: translateX(-50%);
}
.popup.active {
  display: block;
}
.popup h1 {
  margin: 0;
  padding: 20px 0 10px;
  font-size: 30px;
  color: white;
}
.popup p {
  margin:0;
  font-size: 20px;
  color: RGB(220,220,220);
}

#waiting-text {
  font-size: 30px;
  padding: 20px;
  margin: 0;
}

#draw-prompt-text {
  font-size: 30px;
  padding: 15px;
  margin: 0;
  word-wrap: break-word;
  max-width: 500px;
  height: auto;
}

#sign-in {
  display: none;
}
#sign-in.active {
  display: block;
}
#pre-game {
  display: none;
}
#pre-game.active {
  display: block;
}
#waiting-phase {
  display: none;
}
#waiting-phase.active {
  display: block;
}
#prompt-phase {
  display: none;
}
#prompt-phase.active {
  display: block;
}
#draw-phase {
  display: none;
}
#draw-phase.active {
  display: block;
}
#guess-phase {
  display: none;
}
#guess-phase.active {
  display: block;
}
#review-phase {
  display: none;
}
#review-phase.active {
  display: block;
}

@media only screen and (max-width: 600px) {
  section {
    padding: 8.33vw 0;
  }

  button {
    margin: 3.33vw auto;
    padding: 3.33vw 8.33vw;
    box-shadow: 0 0.83vw 3.33vw -1.66vw black;
    border-radius: 6.66vw;
    font-size: 5vw;
  }

  #waiting__info p{
    padding: 3.33vw;
  }
  #player-list h1{
    padding-top: 3.33vw;
    padding-bottom: 1.66vw;
    font-size: 6.66vw;
  }
  #player-list p{
    margin: 0 2.5vw 1.67vw;
    padding: 0.83vw 1.67vw;
    font-size: 5vw;
    border-radius: 1.67vw;
    box-shadow: 0 0.5vw 1.67vw -0.83vw black;
  }
  #player-list p.host{
    box-shadow: 0 0 3.33vw 0.83vw gold;
  }

  .container {
    width: 88.33vw;
    box-shadow: 0 0.83vw 5vw -3.33vw black;
    border-radius: 5vw;
    margin-bottom: 3.33vw;
    font-size: 5vw;
  }
  .review-container h1 {
    padding: 3.33vw 0 0;
    font-size: 6.67vw;
  }
  .review-container p {
    padding: 1.67vw 0;
  }

  .canvas-container {
    height: 88.33vw;
    margin-bottom: 3.33vw;
  }
  .drawing-img {
    top: 1.67vw;
    width: 83.33vw;
    height: 83.33vw;
    border: solid RGB(240,240,240) 0.83vw;
    border-radius: 4.17vw;
  }

  canvas {
    top: 1.67vw;
    width: 83.33vw;
    height: 83.33vw;
    border: solid RGB(240,240,240) 0.83vw;
    border-radius: 4.17vw;
  }

  .slidecontainer {
    width: 86.67vw;
    height: 4.17vw;
    padding: 0.83vw;
    border-radius: 5.83vw;
    box-shadow: 0 0.83vw 2.5vw -1.67vw black;
    margin-bottom: 0.83vw;
  }
  .slider {
    height: 4.17vw;
    border-radius: 4.17vw;
  }

  .slider::-webkit-slider-thumb {
    width: 4.17vw;
    height: 4.17vw;
    border: solid white 0.5vw;
    border-radius: 2.5vw;
  }

  .prompt-input {
    padding: 1.67vw;
    width: 85vw;
    font-size: 5vw;
  }
  .prompt-input p {
    padding-bottom: 1.67vw;
  }
  .prompt-input textarea {
    width: 70vw;
    font-size: 5vw;
  }
  .prompt-input input {
    width: 70vw;
    font-size: 5vw;
  }
  .error-text {
    padding: 0.83vw;
    font-size: 2.5vw;
  }

  .popup {
    top: 8.33vw;
    width: 75vw;
    box-shadow: 0 0.83vw 5vw -3.33vw black;
    border-radius: 8.33vw;
    margin-bottom: 3.33vw;
    font-size: 5vw;
  }
  .popup h1 {
    padding: 3.33vw 0 1.67vw;
    font-size: 5vw;
  }
  .popup p {
    font-size: 3.33vw;
  }

  #waiting-text {
    font-size: 5vw;
    padding: 3.33vw;
  }

  #draw-prompt-text {
    font-size: 5vw;
    padding: 2.5vw;
    max-width: 83.33vw;
  }

  #disconnect h1 {
    padding: 3.33vw 0 0;
  }
  #disconnect p {
    margin: 0;
    padding: 1.67vw;
  }
}
